body {
  font-family: "Black Han Sans", sans-serif;
}

#gameStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
  z-index: 1;
}

#greeting {
  font-size: 70px;
  border-radius: 5px;
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  background-color: #f783ac;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#start:hover {
  transform: scale(1.1);
}

#score {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

td {
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  padding: 0px;
}

/* block */
.tree {
  background: #ffadad;
}

.square {
  background: #ffd6a5;
}

.zRight {
  background: #ffc6ff;
}

.zLeft {
  background: #caffbf;
}

.LRight {
  background: #9bf6ff;
}

.LLeft {
  background: #a0c4ff;
}

.bar {
  background: #bdb2ff;
}
